name: Build sing-box rulesets

on:
  push:
    branches: [ "main" ]
    paths:
      - "*.json"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install sing-box
        run: |
          sudo apt update
          sudo apt install -y curl wget git jq
          bash <(curl -fsSL https://sing-box.app/deb-install.sh)



      - name: Build all *.json -> *.srs
        run: |
          set -e
          shopt -s nullglob
          for f in *.json; do
            base="${f%.json}"
            echo "Compiling $f -> ${base}.srs"
            sing-box rule-set compile "$f" --output "${base}.srs"
          done

      - name: Get current date
        id: date
        run: |
          echo "DATE=$(TZ=Europe/Moscow date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
      
      - name: Commit and Push Changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Action
          author_email: githubaction@githubaction.com
          message: 'Generating .srs rule-sets ${{ env.DATE }}'
          push: true
          cwd: .
          default_author: github_actor
          fetch: --tags --force
          pathspec_error_handling: ignore


